@use '../utils/variable';
.header {
    background: map-get(variable.$colors, 'header-background');
    border-bottom: 1px solid #ECECEC;
    display: flex;}

.header__container {
        display: flex;
    }

.header__navigation {
        display: flex;
        align-items: center;
    }

.header__logo {
        color: map-get(variable.$colors, 'accent-color');
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        font-family: Raleway;
        margin-right: 97px;
    }

.header__list-link {
        display: flex;
    }

.header__item:not(:last-child) {
        margin-right: 50px;
    }

.header__link {
        color: map-get(variable.$colors, 'primary-title-color');
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
        transition: color variable.$time variable.$time-function;
        &:hover,
        &:focus{ 
        color: map-get(variable.$colors, 'accent-color');
        text-decoration: underline;
    }}

.current {
        color: map-get(variable.$colors, 'accent-color');
        position: relative;
        display: inline-block;
        &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        left: 0;
        bottom: 0;
        background-color: map-get(variable.$colors, 'accent-color');
        background: map-get(variable.$colors, 'accent-color');
    }}

.header__list-contact {
        display: flex;
        margin-left: auto;
    }

.header__item-contact:not(:last-child) {
        margin-right: 50px;
    }

.header__item-contact-link {
        color: map-get(variable.$colors, 'primary-text-color');
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
        transition: color variable.$time variable.$time-function;
        &:hover,
        &:focus {
        color: map-get(variable.$colors, 'accent-color');
    }}

.header__item-contact-icon {
        margin-right: 10px;
        fill: currentColor;
    }

@media (min-width:768px) and (max-width:1200px) {
    .header__list-contact {
    flex-direction: column;
    margin-top: 21px;
    margin-bottom: 21px;
   
    }
    .header__item-contact-link{
        padding: 10px;
        font-size: 12px;
    }
.header__logo {
    font-size: 24px;
    line-height: 1.16;
    margin-right: 88px;
}
.header__list-link{
    margin-right: 93px;
}
.header__item-contact:not(:last-child){
    margin-right: 0px;
}
}

